@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #726969;
    animation: backgroundChange 45s infinite;
    margin: 0px;
}
@keyframes backgroundChange{

0% {  background-image: url("./images/wave1.svg");}
25% { background-image: url("./images/wave2.svg");}
50%{    background-image: url("./images/wave5.svg");}
75%{ background-image: url("./images/wave4.svg");}
100% { background-image: url("./images/wave1.svg");}    
}

#root
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.custom-scroll-bar::-webkit-scrollbar {
    display: none;
  }
  
.custom-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-gradient
{
 color:#f8e328
 
}

.checkClass
{
  text-decoration: line-through;
  color: rgba(53, 50, 50, 0.731);
  background-color: #d1d5db;
}
